@import "variable";

button {
    cursor: pointer;
    border-style: none;
    text-align: center;
    padding: 0.5em;
    color:rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0.5em;
    font-size: 1.3em;
}

.button-green {
    background-color: $dark-green;
    // border-color: $very-dark-green;
    &:hover {
        background-color: $darker-green;
    }
    &:active {
        background-color: $green;
    }

}

.button-red {
    background-color: $dark-red;
    // border-color: $very-dark-red;
    &:hover {
        background-color: $darker-red;
    }
    &:active {
        background-color: $red;
    }
}

.button-icon {
    border: none;
    padding: 0;
    position: absolute;
    height: 40px;
    width: 40px;
}

.top-left {
    top: 30px;
    left: 30px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    &:hover {
        transform: translate(-50%, -50%) scale(1.5);
        transition: transform 0.5s;
    }
    &:active {
        transform: translate(-50%, -50%) scale(1.4);
        color: rgb(185, 185, 185);
    }
}

.top-right {
    top: 30px;
    right: 30px;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    &:hover {
        transform: translate(50%, -50%) scale(1.5);
        transition: transform 0.5s;
    }
    &:active {
        transform: translate(50%, -50%) scale(1.4);
        color: rgb(185, 185, 185);
    }
}