@import "variable";

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* Title*/
.title {
    background-image: url("../Images/title.png");
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: move;
    height: 16em;
    width: 20em;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.13,-0.13, 0.2, 1);
    image-rendering: pixelated;
    & :hover {background-position: 0 -32em;}
}
.blink {background-position: 0 -16em;}

@keyframes move {
    0% {transform: translateY(0.2em);}
    100% {transform: translateY(-0.2em);}
}

form {
    display: flex;
    flex-direction: column;
}

.text-input {
    text-align: center;
    padding: 0.5em;
    color:rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    border-color: $dark-green;
    border-radius: 0.5em;
    font-size: 1.3em;
    width: 10em;
}

.alert {
    font-size: 1em;
    padding: 0;
    color: $red;
}