* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: url("../Images/herbe-v2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

iframe {
  display: block;
  height: 100%;
  width: 100%;
  border: none;
  overflow-y: auto;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border-style: none;
  text-align: center;
  padding: 0.5em;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.5em;
  font-size: 1.3em;
}

.button-green {
  background-color: #006600;
}
.button-green:hover {
  background-color: #009900;
}
.button-green:active {
  background-color: #00cc00;
}

.button-red {
  background-color: #881b00;
}
.button-red:hover {
  background-color: #af2300;
}
.button-red:active {
  background-color: #ff3300;
}

.button-icon {
  border: none;
  padding: 0;
  position: absolute;
  height: 40px;
  width: 40px;
}

.top-left {
  top: 30px;
  left: 30px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.top-left:hover {
  transform: translate(-50%, -50%) scale(1.5);
  transition: transform 0.5s;
}
.top-left:active {
  transform: translate(-50%, -50%) scale(1.4);
  color: rgb(185, 185, 185);
}

.top-right {
  top: 30px;
  right: 30px;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.top-right:hover {
  transform: translate(50%, -50%) scale(1.5);
  transition: transform 0.5s;
}
.top-right:active {
  transform: translate(50%, -50%) scale(1.4);
  color: rgb(185, 185, 185);
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

a:-webkit-any-link {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  text-decoration: none;
}

li {
  text-align: -webkit-match-parent;
}

.nav-latteral {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: -100%;
  background-color: #002b00;
  z-index: 3;
  height: 100vh;
  width: max-content;
  transition: all 0.1s ease;
}

#nav-wrapper {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: none;
}

#nav-wrapper.active {
  display: block;
}

.nav-links {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 10em;
}
.nav-links > a {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  height: 2em;
  margin-top: 0.5em;
  width: 100%;
  border-radius: 0.25em;
  background-color: #006600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1em;
}
.nav-links > a:hover {
  background-color: #009900;
}
.nav-links > a:active {
  color: #00ff00;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Directional-buttons */
.directional-buttons {
  flex-shrink: 0;
  padding: 0 0 0 0;
  margin: 0;
  font-size: 1em;
  background-image: none;
  width: 8.8em;
  height: 8.8em;
  display: grid;
  grid-gap: 0.4em;
  grid-template-columns: 25fr 50fr 25fr;
  grid-template-rows: 25fr 50fr 25fr;
  grid-template-areas: "....  up  ....." "left  ..  right" ".... down .....";
}

.direction-button {
  font-size: 1em;
  color: #00cc00;
  background: currentcolor;
  border: none;
  padding: 0 0 0 0;
  margin: 0;
  position: relative;
}

.direction-button:focus {
  border: none;
  outline: none;
}

.direction-button:before {
  font-size: 1em;
  display: block;
  content: "";
  position: absolute;
  transform: rotate(45deg);
  width: 2.8284542498em;
  height: 2.8284542498em;
  background: currentcolor;
}

.direction-button:after {
  display: block;
  position: absolute;
  border: 1.3333333333em solid transparent;
  color: rgba(255, 250, 250, 0.6);
  content: "";
}

.direction-button:hover {
  color: #009900;
}

.direction-button:active {
  color: #00cc00;
}

.direction-button:active:after {
  color: rgba(0, 0, 0, 0.6);
}

.direction-button:active:after {
  color: rgba(0, 0, 0, 0.6);
}

.up {
  grid-area: up;
  border-radius: 0.2em 0.2em 0 0;
}

.up:before {
  left: calc(50% - 1.4142271249em);
  top: calc(100% - 1.4142271249em);
}

.up:after {
  border-bottom-color: currentcolor;
  left: calc(50% - 1.3333333333em);
  top: calc(50% - 2em);
}

.left {
  grid-area: left;
  border-radius: 0.2em 0 0 0.2em;
}

.left:before {
  left: calc(100% - 1.4142271249em);
  top: calc(50% - 1.4142271249em);
}

.left:after {
  border-right-color: currentcolor;
  left: calc(50% - 2em);
  top: calc(50% - 1.3333333333em);
}

.right {
  grid-area: right;
  border-radius: 0 0.2em 0.2em 0;
}

.right:before {
  right: calc(100% - 1.4142271249em);
  top: calc(50% - 1.4142271249em);
}

.right:after {
  border-left-color: currentcolor;
  right: calc(50% - 2em);
  top: calc(50% - 1.3333333333em);
}

.down {
  grid-area: down;
  border-radius: 0 0 0.2em 0.2em;
}

.down:before {
  left: calc(50% - 1.4142271249em);
  bottom: calc(100% - 1.4142271249em);
}

.down:after {
  border-top-color: currentcolor;
  left: calc(50% - 1.3333333333em);
  bottom: calc(50% - 2em);
}

.map:after {
  content: attr(data-content);
  border: none;
  font-size: 2em;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mapping {
  background: #ff3300;
}

.mapping:before {
  background: #ff3300;
}

.mapping:hover {
  background: #af2300;
}

.mapping:hover:before {
  background: #af2300;
}

.mapping:before:hover {
  background: #af2300;
}

.mapping:active {
  background: #ff3300;
}

.mapping:before:active {
  background: #ff3300;
}

.mapping:active:before {
  background: #ff3300;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Room Code: Display and copie */
.roomCodeBox {
  display: flex;
  flex-direction: column;
}

.roomCode {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  padding: 0.2em;
  font-size: 2em;
  text-align: center;
  color: #00cc00;
}

.copy {
  padding: 0.3em;
  font-size: 2em;
  color: rgb(255, 255, 255);
  border-radius: 0.5em;
  border: 0.2em solid;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

.copy:hover {
  border-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0);
}

.copy:after {
  content: "Link";
}

.copy:hover span {
  display: none;
}

.copy:hover:after {
  content: "Copy";
}

.copy:active:after {
  content: "Copied";
}

.copy:active {
  border-color: rgba(255, 255, 255, 0.5019607843);
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Title*/
.title {
  background-image: url("../Images/title.png");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: move;
  height: 16em;
  width: 20em;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.13, -0.13, 0.2, 1);
  image-rendering: pixelated;
}
.title:hover {
  background-position: 0 -32em;
}

.blink {
  background-position: 0 -16em;
}

@keyframes move {
  0% {
    transform: translateY(0.2em);
  }
  100% {
    transform: translateY(-0.2em);
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form > * {
  margin: 0.2em;
}

.text-input {
  text-align: center;
  padding: 0.5em;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  border-color: #006600;
  border-radius: 0.5em;
  font-size: 1.3em;
  width: 10em;
}

.alert {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 1em;
  padding: 0;
  color: #ff3300;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.stack {
  display: grid;
  padding: 1em;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5em;
  max-height: 40vh;
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #006600;
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 102, 0, 0.5);
  border-radius: 0.5em;
}

h2 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  color: #00ff00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
h2 > * {
  font-size: 0.6em;
}
h2 > button {
  font-size: 0.8em;
}

.stack > li {
  background-color: rgba(0, 102, 0, 0.5);
  padding: 0.25em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0.5em;
  color: #00cc00;
  font-weight: bold;
}
.stack > li > * {
  margin: 0 0.25em;
}
.stack > li > h3 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

.stack > .new-player {
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 90%;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #002b00;
  border-radius: 1em;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.active {
  visibility: visible;
  opacity: 1;
}

.qrcode {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  background-color: white;
  padding: 1em;
  border-radius: 1em;
}

.roomCode > span {
  color: white;
  font-size: 2em;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* For horizontal browser's viewport */
#gameScreen {
  flex-direction: row;
  justify-content: space-between;
}

.controllerContainer {
  display: flex;
  flex-direction: column;
  height: calc(2 * (50vmax - min(100vmax - 22rem, 99vmin) / 2));
  width: calc(50vmax - min(100vmax - 22rem, 99vmin) / 2);
  align-items: center;
  justify-content: center;
}

/* For vertical browser's viewport */
@media (max-width: 100vh) {
  #gameScreen {
    flex-direction: column;
  }
  .controllerContainer {
    flex-direction: row;
    height: calc(50vmax - min(100vmax - 22rem, 99vmin) / 2);
    width: calc(2 * (50vmax - min(100vmax - 22rem, 99vmin) / 2));
  }
}
.displayPlayer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Game Screen */
.gameContainer {
  display: block;
  height: min(100vmax - 22rem, 99vmin);
  width: min(100vmax - 22rem, 99vmin);
}

.game {
  position: absolute;
  height: min(100vmax - 22rem, 99vmin);
  width: min(100vmax - 22rem, 99vmin);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.game canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.game button {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1;
}

/* Player Display: Name, Color, Ready & co */
.player {
  display: table-row;
  /* width: 90%;
  margin-top: 0.5em;
  height: 1.5em; */
}

.player h2 {
  color: white;
  font-size: 1em;
  margin-left: 0.5em;
  width: 1em;
  margin-top: auto;
  margin-bottom: auto;
}

.player .name {
  margin-left: 0.5em;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.player .form-control {
  width: 8em;
}

.player .color {
  background-color: #00cc00;
  border-color: #00cc00;
  border-radius: 0.5em;
  margin-left: 0.5em;
  width: 1em;
  height: 1em;
  margin-top: auto;
  margin-bottom: auto;
}

.player .color::-webkit-color-swatch {
  border: none;
  border-radius: 0.5em;
}

/*# sourceMappingURL=style.css.map */
