* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --very-dark-red: #531100;
  --dark-red: #881b00;
  --darker-red: #af2300;
  --red: #ff3300;
  --light-red: #ff9933;
  --orange: #ff9933;
  --quarter-min: 10rem;
  --game-size: min(calc(100vmax - 2*var(--quarter-min)), 100vmin);
  --quarter-size: calc(50vmax - var(--game-size)/2);
  --game-font: calc(min(var(--quarter-size), 50vmin) * 7/100);
}

body {
  background: url("../Images/herbe-v2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

/* Button in general */
button {
  cursor: pointer;
  text-align: center;
  padding: 0.5em;
  color: rgb(255, 255, 255);
  border-radius: 0.5em;
  font-size: 1.3em;
  background-color: var(--dark-green);
  border-color: var(--very-dark-green);
}

button:hover {
  background-color: var(--darker-green);
}

button:active {
  background-color: var(--green);
}

.redbutton {
  background-color: var(--dark-red);
  border-color: var(--very-dark-red);
}

.redbutton:hover {
  background-color: var(--darker-red);
}

.redbutton:active {
  background-color: var(--red);
}

.navButton {
  border: none;
  padding: 0;
  position: absolute;
  top: 30px;
  left: 30px;
  height: 40px;
  width: 40px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navButton:hover {
  transform: translate(-50%, -50%) scale(1.5);
  transition: transform 0.5s;
}

.navButton:active {
  transform: translate(-50%, -50%) scale(1.4);
  color: rgb(185, 185, 185);
}

.fullButton {
  border: none;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 40px;
  width: 40px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(50%, -50%);
}

.fullButton:hover {
  transform: translate(50%, -50%) scale(1.5);
  transition: transform 0.5s;
}

.fullButton:active {
  transform: translate(50%, -50%) scale(1.4);
  color: rgb(185, 185, 185);
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

li {
  text-align: -webkit-match-parent;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 1;
}

.nav-latteral {
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgb(0, 0, 0);
  z-index: 3;
  height: 100vh;
  width: max-content;
  transition: all 0.1s ease;
}

#nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: none;
}

#nav-wrapper.active {
  display: block;
}

#nav-close {
  margin-bottom: 4rem;
}

.nav-links {
  padding: 1rem 6rem 1rem 3rem;
}

.nav-link {
  cursor: pointer;
  font-size: 25px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  color: lightcoral;
}

.nav-link ion-icon {
  margin-right: 15px;
}

.nav-link,
.nav-button {
  transition: all 0.2s ease;
}

.nav-button {
  font-size: 40px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.nav-button:hover {
  color: orange;
  background-color: #dedede;
}

/* titleScreen : title & co*/
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Title*/
.title {
  background-image: url("../Images/title.png");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: move;
  height: 16em;
  width: 20em;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.13, -0.13, 0.2, 1);
  image-rendering: pixelated;
}

.title:hover {
  background-position: 0 -32em;
}

.blink {
  background-position: 0 -16em;
}

@keyframes move {
  0% {
    transform: translateY(0.2em);
  }
  100% {
    transform: translateY(-0.2em);
  }
}

/*# sourceMappingURL=style.css.map */
