* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: url("../Images/herbe-v2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  text-align: center;
  padding: 0.5em;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.5em;
  font-size: 1.3em;
}

.button-green {
  background-color: #006600;
  border-color: #002b00;
}
.button-green:hover {
  background-color: #009900;
}
.button-green:active {
  background-color: #00cc00;
}

.button-red {
  background-color: #881b00;
  border-color: #531100;
}
.button-red:hover {
  background-color: #af2300;
}
.button-red:active {
  background-color: #ff3300;
}

.button-icon {
  border: none;
  padding: 0;
  position: absolute;
  height: 40px;
  width: 40px;
}

.top-left {
  top: 30px;
  left: 30px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.top-left:hover {
  transform: translate(-50%, -50%) scale(1.5);
  transition: transform 0.5s;
}
.top-left:active {
  transform: translate(-50%, -50%) scale(1.4);
  color: rgb(185, 185, 185);
}

.top-right {
  top: 30px;
  right: 30px;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.top-right:hover {
  transform: translate(50%, -50%) scale(1.5);
  transition: transform 0.5s;
}
.top-right:active {
  transform: translate(50%, -50%) scale(1.4);
  color: rgb(185, 185, 185);
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

li {
  text-align: -webkit-match-parent;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 1;
}

.nav-latteral {
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgb(0, 0, 0);
  z-index: 3;
  height: 100vh;
  width: max-content;
  transition: all 0.1s ease;
}

#nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: none;
}

#nav-wrapper.active {
  display: block;
}

#nav-close {
  margin-bottom: 4rem;
}

.nav-links {
  padding: 1rem 6rem 1rem 3rem;
}

.nav-link {
  cursor: pointer;
  font-size: 25px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  color: lightcoral;
}

.nav-link ion-icon {
  margin-right: 15px;
}

.nav-link,
.nav-button {
  transition: all 0.2s ease;
}

.nav-button {
  font-size: 40px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.nav-button:hover {
  color: orange;
  background-color: #dedede;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Title*/
.title {
  background-image: url("../Images/title.png");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: move;
  height: 16em;
  width: 20em;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.13, -0.13, 0.2, 1);
  image-rendering: pixelated;
}
.title :hover {
  background-position: 0 -32em;
}

.blink {
  background-position: 0 -16em;
}

@keyframes move {
  0% {
    transform: translateY(0.2em);
  }
  100% {
    transform: translateY(-0.2em);
  }
}
form {
  display: flex;
  flex-direction: column;
}

.text-input {
  text-align: center;
  padding: 0.5em;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  border-color: #006600;
  border-radius: 0.5em;
  font-size: 1.3em;
  width: 10em;
}

.alert {
  font-size: 1em;
  padding: 0;
  color: #ff3300;
}

/*# sourceMappingURL=style.css.map */
